<div class="account section" style="padding-top: 20px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6" style="background-color: #f8fcfd">
        <div class="login-form border p-5">
          <div class="text-center heading" style="margin-bottom: 20px">
            <h2 class="mb-2">{{'Sign Up'|translate}}</h2>

          </div>
          <form #f="ngForm" (ngSubmit)="onSignup(f.value) ">
            <div class="form-group mb-4">
              <!--<label for="#">Enter Email Address</label>-->
              <input style="background:white " type="text" class="form-control" placeholder="Enter Your Username" ngModel="" name="username">
            </div>
            <div class="form-group mb-4">
              <!--<label for="#">Enter Email Address</label>-->
              <input style="background:white " type="text" class="form-control" placeholder="Enter Email Address" ngModel="" name="email">
            </div>

            <div class="form-group mb-4">
              <!--<label for="#">Enter Password</label>-->
              <input style="background:white " type="password" class="form-control" placeholder="Enter Password" ngModel="" name="password">
            </div>
            <div class="form-group">
             <!-- <label for="#" >Confirm Password</label>-->
              <input style="background:white " type="password" class="form-control" placeholder="Confirm Password" ngModel="" name="repassword">
            </div>
            <button type="submit" class="btn btn-main mt-3 btn-block" style="background: #007bff;border:#007bff;" >{{'Sign Up'|translate}}</button>
            <p class="lead" style="display: flex;justify-content: space-between;margin-top: 8px;" >{{'Already have an account'|translate}}? <a routerLink="/login" style="color: #007bff"> Login now</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
